

<input type="text" [(ngModel)]="term" (keyup)="filterByTerm()">&nbsp;

<select [(ngModel)]="column">
    <option value="account_number">Account Number</option>
    <option  value="available_balance">Available Balance</option>
    
</select>

<select [(ngModel)]="order">

    <option value="asc">AscendeingOrder</option>
    <option value="desc">DescendingOrder</option>
</select>
<button (click)="sorted()">Sort</button> &nbsp;


<select [(ngModel)]="limit">
    <option >10</option>
    <option >20</option>
    <option >30</option>
    
</select>

<select [(ngModel)]="page">

    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>
<button (click)="pagination()">Pagination</button>



<table  class="table">
    <thead>
        <th>account_name</th>
        <th>available_balance</th>
        <th>account_number</th>
        <th>city</th>
        <th>profie_picture</th>
        <th>id</th>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
        <td>{{account.account_name}}</td>
        <td>{{account.available_balance}}</td>
        <td>{{account.account_number}}</td>
        <td>{{account.city}}</td>
        <td><img src="{{account.profie_picture}}" alt="" width="200px"></td>
        <td>{{account.id}}</td>
        <td ><button (click)="delete(account.id)" class="btn btn-danger"> Delete</button>
             <button routerLink="/dashboard/account-details/{{account.id}}"  class="btn btn-warning">View</button>   
             <button routerLink="/dashboard/edit-account/{{account.id}}"  class="btn btn-info">Edit</button>  
        </td>
        </tr>
        

    </tbody>
</table>

