.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    margin:auto;
    margin-top: 12%;
  }
  .button-container{
    display: flex; /* Makes buttons appear in a row */
  justify-content: center; /* Centers the buttons */
  gap: 10px; /* Adds space between buttons */
  }