<form [formGroup]="studentForm">
    <label for="">Name</label>
    <input type="text"  formControlName="name" >
    <br>

    <label for="">Phone</label>
    <input type="text"  formControlName="phone" >
    <br>

    <label for="">City</label>
    <input type="text"  formControlName="city" >
    <br>

    <label for="">Dob</label>
    <input type="text"  formControlName="dob" >
    <br>

    <label for="">Profile Picture</label>
    <input type="text"  formControlName="profile_picture" >
    <br>

    <label for="">Email</label>
    <input type="text"  formControlName="email" >
    <br>

    <label for="">School Logo</label>
    <input type="text"  formControlName="school_logo" >
    <br>

    <label for=""> School Name</label>
    <input type="text"  formControlName="school_name" >
    <br>

    <label for="">School City</label>
    <input type="text"  formControlName="school_city" >
    <br>

    <label for="">School Pin</label>
    <input type="number"  formControlName="school_pin" >
    <br>

    <button (click)="submit()">Submit</button>

</form>

<!-- "name": "vvs ",
"phone": 9876543210,
"city": "tuni",
"dob": "1113-11-13",
"profile_picture": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBnDOhJoKGTLWetfGZajHJ5AbQKAprUQ4WsEpQtEs53NYC0OJD",
"email": "kingpspk@",
"school_logo": "https://documents.iplt20.com/ipl/IPLHeadshot2024/2.png",
"school_name": "virat",
"school_city": "bengaluru",
"school_pin": 598765,
"id": "76" -->
