<form class="form" action="" [formGroup]="userForm">
<label for="">Name:</label>
<input type="text" formControlName="name">
<div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid"> 

    <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is requird</p>
    <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Minimum 3 characters required</p>
    <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Maximum 10 characters  requird</p>

</div>
<br>

<label for="">Age:</label>
<input type="text" formControlName="age">

<div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid"> 

    <p class="error" *ngIf="userForm.get('age')?.errors?.['required']">Age is requird</p>
    <p class="error" *ngIf="userForm.get('age')?.errors?.['min']">Minimum age is 18 required</p>
    <p class="error" *ngIf="userForm.get('age')?.errors?.['max']">Maximum age is 60 requird</p>

</div>

<br>

<label for="">Email:</label>
<input type="text" formControlName="email">
<br>

<label for="">Phone:</label>
<input type="text" formControlName="phone">
<br>
<div formGroupName="address">

    <label for="">City:</label>
<input type="text" formControlName="city">
<br>

<label for="">PIN:</label>
<input type="number" formControlName="pin">
<br>

</div>

<label class="data" for="">Type</label>
<input type="radio" name="type" formControlName="type" value="dayScholor">
<label for="">DayScholor</label>
<input type="radio" name="type" formControlName="type" value="residential">
<label for="">Residential</label>
<br>

<div *ngIf="userForm.get('type')?.value=='dayScholor' ">  
<label for="">Bus Fee</label>
<input type="number" formControlName="busFee">
</div>


<div  *ngIf="userForm.get('type')?.value=='residential'">
    
<label for="">Hostle Fee </label>
<input type="number" formControlName="hostleFee">
</div>
<br>

<label for="">Cards: </label>
<button (click)="addCard()" >Add Card</button>
<br><br>


<div  formGroupName="cards">
    <div  *ngFor="let card of cardsFormArray.controls;let i = index">
        <div formGroupName="{{i}}">
            <h2>Card: {{i+1}}</h2>
            <label for="">Number:</label>
            <input type="number" formControlName="number"> <br>
            <label for="">Expiry:</label>
            <input type="text" formControlName="expiry"> <br>
            <label for="">Cvv:</label>
            <input type="text" formControlName="cvv"> <br>

            <button class="btn btn-danger" (click)="deleteCard(i)">Delete</button>
            <hr>
        </div>
    </div>
</div>

<button (click)="submit()" class="btn btn-warning">Submit</button>

</form>
