<div class="container-1">
    <div class="container-2" *ngFor="let product of products ">


        <div class="product">
            <img src="{{product.image}}" alt="" width="150px" height="150px" >

            <div class="rating-box">
                <span class="rating">{{product.rating.rate}}</span>
                <span class="count">({{ product.rating.count}})</span>
            </div>
        </div>

        <h4>{{product.category}}</h4>
        <h5 class="marquee" style="color:blue; font-size: small;">{{product.title | slice:0:30}}...</h5>
        <h6 style="color:red">Rs:{{product.price}}</h6>

    </div>
</div>


<!-- "id": 1,
"title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
"price": 109.95,
"description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
"category": "men's clothing",
"image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
"rating": {
"rate": 3.9,
"count": 120 -->



<div class="container">
    <div class="row">
        <div class="card">

        </div>
    </div>

</div>