
<div  class="dashboard">
    
    <div class="left-container">
        <h2 style="color:white">My Website</h2><br><hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="welcome">Welcome</h4>
        <h4 routerLink="databinding">Data Binding</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4  routerLink="circle">Circle</h4>
        <h4 routerLink="BMI">BMI</h4>
        <h4 routerLink="regestration">Registration</h4>
        <button routerLink="login">Logout</button>
    </div>
    <div class="right-container">
        <router-outlet></router-outlet>
    </div>
    </div>
            