
<div  class="dashboard">
    
    <div class="left-container">
        <h2 style="color:white">My Website</h2><br><hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="welcome">Welcome</h4>
        <h4 routerLink="databinding">Data Binding</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4  routerLink="circle">Circle</h4>
        <h4 routerLink="BMI">BMI</h4>
        <h4 routerLink="regestration">Registration</h4>
        <h4 routerLink="products">Products</h4>
        <h4 routerLink="vehicle">Vehicle</h4>
        <h4 routerLink="employee">Employees</h4>
        <h4 routerLink="accounts">Accounts</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="pinterest">Printerest</h4>
        <h4 routerLink="weather">Weather</h4>
        <h4 routerLink="blog">blog</h4>
        <h4 routerLink="imdb">imdb</h4>
        <h4 routerLink="create-vehicle">Create Vehicle</h4>
        <h4 routerLink="create-account">Create Account</h4>
        <h4 routerLink="student-card">Student Card</h4>
        <h4 routerLink="create-student">Create Student</h4>
        <h4 routerLink="create-user">Create User</h4>
        <h4 routerLink="parent">Parent</h4>
        <h4 routerLink="siblings">Siblings</h4>
        <hr>
        <button (click)="logout()">Logout</button>
    </div>
    <div class="right-container">
        <router-outlet></router-outlet>
    </div>
    </div>
            